.authDiv{
    width: 100%;
    max-width: 1920px;
    height: 50vh;
    margin: 0 auto;
    padding: 4rem 25%;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    justify-self: center;
}