

.Home{
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--primary-black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--neutral--20);
    position: relative;
    height: 100vh;
}
.image_container{
    width: 75%;
}
.image_container img{
    min-width: 100%;
    /* max-height: calc(100vh - 72px); */
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.Data_Container{
    text-align: right;
    background-color: var(--primary-black);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10%;
}
.Data_Container h1{
    color: var(--neutral--20);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 28px;
}
.Data_Container h2{
    
    margin-bottom: 28px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.Data_Container p{
    max-width: 69%;
    margin-bottom: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}


/* Media Query */

@media (max-width : 1000px) {
    .Home{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 7rem !important;
        margin-top: 4.9rem !important;
    }
    .image_container{
        width: 100%;
    }
    .image_container img{
        object-fit: cover !important;
        object-position: 100% 40%;
        overflow: hidden;
        height: 50vh;
    }
    .Data_Container{
        text-align: center;
        align-items: center;
    }
    .search_Container{
        width: 100% !important;
    }
}

@media (max-width : 990px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 4.5rem !important;
    }
}
@media (max-width : 930px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 4rem !important;
    }
}

@media (max-width : 870px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 4.5rem !important;
    }
}

@media (max-width : 786px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 4rem !important;
    }
}
@media (max-width : 740px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 6rem !important;
    }
}


@media (max-width : 670px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 5.5rem !important;
    }
}
@media (max-width : 637px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 5.9rem !important;
    }
}

@media (max-width : 600px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 0rem !important;
    }
    .Data_Container h1{
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        line-height: 45px;
    }
    .Data_Container h2{
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        width: 100%;
    }
    .Data_Container p{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
    .search_Container{
        background-color: var(--Neutral-11);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .select_options{
        display: none;
    }
    .search_Btn{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

@media (max-width : 500px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 0rem !important;
    }
}

@media (max-width : 493px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 1rem !important;
    }
}
@media (max-width : 371px) {
    .Home{
        margin-bottom: 5rem !important;
        margin-top: 1.5rem !important;
    }
}
/* Part Two */

.Home_corporations{
    max-width: 100%;
    margin : 60px 0px 20px 0px ;
    padding: 84px 124px 100px 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.Home_corporations p{
    color: var(--Gray-700, #344054);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.companiese{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    
}

.companiese svg{
    width: 100%;
}

/* part Two Responsive */

@media (max-width : 760px) {
    .Home_corporations{
        margin : 30px 0px 0px 0px ;
        padding: 84px 0px 100px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .companiese{
        width: 100%;
    }
    .companiese svg{
        width: 100%;
    }
    .Home_corporations p{
        text-align: center;
        padding: 15px;
    }

}

/* Why Us */

.why_Container{
    max-width: 100%;
    padding: 1% 10%;
    direction: rtl;
    text-align: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.why_us{
  min-width: 100%;
   max-width: 100%;
}
.why_us_Icons{
    display: flex;
    align-items: center;
}
.why_us_Icons h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: var(--prime-green);
    margin-right: 5px;
}

.why_us h1:nth-child(2){
    color: var(--Neutral-90);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 16px;
}

.why_us p:nth-child(3){
    color: var(--Neutral-70);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px;
}

.Box_Container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 8%;
}
.data_Box1 , .data_Box2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 40%;
    max-width: 40%;
    background-color: var(--Primary-900);
    padding: 32px 16px;
    height: 156px;
    border-radius: 12px;
}

.data_Box1 h1 , .data_Box2 h1{
    font-size: 34px;
    line-height: 52px;
    color: var(--Neutral-10);
    margin-top: 15px;
}


.box_test{
    font-size: 34px;
    line-height: 52px;
        
}
.data_Box1 p , .data_Box2 p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Neutral-10);
}

.Icon{
    position: absolute;
    color: white;
    top: 10%;
    width: 35px;
    height: 35px;
    right: 2.5%;
}


/* Why us Responsive */

@media (max-width : 740px) {
 .why_Container{
   text-align: center;
   padding: 0;
 }
 .why_Container .why_us_Icons{
    text-align: center;
    justify-content: center;
    margin: 9px;
 }
 .why_Container h1:nth-child(2){
    font-size: 34px;
 }
 .why_Container p:nth-child(3){
    margin: 10px 35px;
 }
 .Box_Container{
    flex-direction: column;
    margin: 0px 15px 0px 47px;
}
 .data_Box1  , .data_Box2 {
    text-align: right;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    
}


    
}

/* Part Three Media Video */

.learn_container{
    margin: 0% 9%;
    padding: 3% 10%;
    max-width: 100%;
    display: flex;
    text-align: right;
    flex-direction: column;
}

.learn_container h1{
    margin-bottom: 10px;
}

.learn_container p {
    font-size: 18px;
    color: var(--Neutral-70);
    margin: 10px 0px 20px 0px;

}
.learn_icon{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--prime-green);
    margin-bottom: 15px;
}

.Video_Container{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Part Three media Responsive  */


@media (max-width : 740px) {
    .learn_container{
        margin: 60px 0px;
        padding: 15px;

    }
    
    .learn_icon{
        justify-content: center;
        margin-left: 10%;
        text-align: justify;
    }
}



/* Contact Slider Part Four */


.Contact_slider{
    max-width: 100%;
    margin-top: 60px;
    padding: 80px 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-black);
}

.success_container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--prime-green);
}
.success_container h2{
    margin-right: 10px;
}

.Contact_slider h1{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
    display: inline-flex;
    color: var(--Neutral-10);
    height: 112px;
    text-align: center;
}

.contact_container{
    width: 100%;
    display: flex;
    position: relative;
    min-height: 400px;
    max-height: 400px;

}
.contact_container p{
    width: 80%;
}
#contact_Btn1{
    position: absolute;
    z-index: 1000;
    left: 12%;
}

#contact_Btn2{
    right: 12%;
    position: absolute;
}

.contact_corporates{
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}



/* Part Four Contact slider responsive */

@media (max-width : 740px) {
    .Contact_slider{
        padding: 80px 0px ;
    }
    .Contact_slider h1{
        font-size: 34px;
        max-width: 400px;
        padding: 5px;
    }
    .contact_corporates{
        width: 100%;
        align-items: center;

    }
    .contact_corporates svg {
        width: 5rem;
    }
}

/* Part Five */

.popular_Tutorial{
    padding: 5% 10%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.popular_Tutorial .popular_Icon{
    display: flex;
    align-items: center;
    color: var(--prime-green);   
    margin: 0px 0px 24px 0px;
}
.popular_Icon h2{
    font-size: 24px;
}

.data_pop_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Box_1 {
    max-width: 35%;
    text-align: right;
    margin-left: 15%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--Gray-500);
}

.Box_2 h1{
    text-align: right;
}


/* Part Five Responsive popular tutorial */

@media (max-width : 1200px) {
    .popular_Tutorial{
        padding: 50px 0px;

    }
    .popular_Tutorial .popular_Icon{
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .data_pop_container{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .data_pop_container p {
        margin: 30px;
        width: 100%;
    }   

    .data_pop_container h1{
        text-align: center;
    }
    
    .Box_1 {
       max-width: 80%;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin-right: 10%;
       margin-left: 0px;

    }
    
}


@media (max-width : 740px) {
    .Box_1 {
        max-width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: 15%;
        margin-left: 0px;
 
     }
}




/* Part six about Us */
.home_about_con{
    max-width: 100%;
    padding: 5% 10%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_icons{
    display: flex;
    align-items: center;
    color: var(--prime-green);
}
.about_icons h1{
    font-size: 24px;

}
.about_text{
    width: 100%;
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 40%;
}

.about_text h1:nth-child(2) {
    font-size: 3.25rem;
    max-width: 100%;
    font-weight: 500;
    line-height: 64px;
    color: var(--Gray-900);
    margin-bottom: 12px;
}

.about_text p{
    padding: 12px;
    font-size: 18px;
    color: var(--Gray-500);
    margin-bottom: 24px;
}
.about_data p {
    color: var(--Gray-500);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 5px;
}
.about_data h2{
    color: var(--Gray-900);
    font-size: 30px;
}
.about_image_con{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 25px;
}

.about_image_con div{
    text-align: center;
}


.about_img_container{
    max-width: 100%;

}

.about_img_container img{
    max-width: 450px;
    border-radius: 15px;
    height: auto;
}


/* Responsive Part six about Us */

@media (max-width : 1200px) {
    .home_about_con{
        padding: 5% 2%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about_icons{
        max-width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 15px;
    }
    .about_text h1:nth-child(2) {
        font-size: 34px;
    }
    .about_text{
        max-width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .about_image_con{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .about_data{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
    }
}


@media (max-width : 740px) {
    .about_text h1:nth-child(2) {
        font-size: 24px;
    }
    .home_about_con{
        padding: 5% 0%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
   
    }
    .about_image_con{
        flex-direction: column-reverse;

    }
    .about_img_container img{
        max-width: 250px;
    }
}

/* Part seven Events */

.event_container{
    text-align: right;
    padding: 5% 10% 6% 10%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    background-color: var(--Gray-100);

}

.event_icons{
    
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.event_icons h2{
    font-size: 34px;
    color: var(--Neutral-90);
}
.event_icons p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Primary-100);
    font-size: 20px;
    margin: 0px 120px;
}

.event_card_data{
    overflow-x: scroll;
    display: flex;
    text-align: right;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    
    
}


.mobile_reverse{
    display: flex;
    flex-direction: column;
}

/* Responsive part Six Events */

@media (max-width : 1200px) {
    .event_container{
        width: 100%;
        padding: 5% 0%;
        margin-bottom: 15px;
    }
    .event_icons {
        
    }
    .event_icons h2 {
        font-size: 24px;
        padding: 5px 12px;

    }
    .event_card_data{
        padding: 0;
        width: 100%;
    }
}


@media (max-width : 740px) {
    .event_container{
    }
    .event_icons {
        
    }
    .event_icons h2 {
        font-size: 24px;
        padding: 5px 0px;

    }
    .event_card_data{
        padding: 0;
        width: 100%;
    }
    .event_icons p{
        margin: 0px 0px;
    }
    .event_icons h2{
        margin-right: 2%;
    }
    .mobile_reverse{
        display: flex;
        flex-direction: column-reverse;
    }
}


/* part Eight Comments */

.Comments_container{
    overflow: hidden;
    max-width: 100%;
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Icons_comments{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    color: var(--prime-green);
}   

.Comments_container h1{
    font-size: 52px;
    color: var(--Gray-900);
    margin-top: 15px;
    margin-bottom: 80px;
}

@keyframes slide {
    0% {
        transform: translateX(77%);
    }
    100%{
        transform: translateX(-62%);
    }
}
.test div{
    display: flex;
}

.comment_card_container{
    text-align: right;
    max-width: 1900px;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
    animation: 25s slide infinite linear;
}


@keyframes slide2 {
    0% {
        transform: translateX(50%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.comment_card_container2{
    gap: 32px;
    animation:  slide2 infinite linear;

}




@keyframes slide {
    0% {
        transform: translateX(77%);
    }
    100%{
        transform: translateX(-62%);
    }
}
.test div{
    display: flex;
}

.comment_card_container3{
    text-align: right;
    max-width: 1900px;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
    animation: 50s slide infinite linear;
}


@keyframes slide2 {
    0% {
        transform: translateX(50%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.comment_card_container4{
    gap: 32px;
    animation: slide2 infinite linear;

}